<!doctype html>

<html lang="en">
<head>
    <title>ClassRoom</title><!--Title of each individual page-->
    <link rel='stylesheet' type="text/css" href='../assets/Stylesheet/style.css' />
</head>

<body>
<main>

    <h3>Test</h3>
    </main>
    </body>
    </html>